body{
    background-color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#header{
    background-color: burlywood;
    text-align: center;
    padding: 10px;
}

#header h1{
    color: blue;
}

#header blockquote{
    background-color: orange;
    border: 1px dotted black;
}


.menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
}


.gambar{
    text-align: center;
}

.gambar img{
    width: 20%;
}


.koleksi{
    text-align: center;
}

.koleksi img{
    width: 20%;
}

.promo{
    color: red;
    text-align: center;
}