div{
    width: 700px;
    height: 600px;
    /* border-radius: 20px; */
    margin: auto;
    margin-left: 20px;
}

.container{
    display: flex;
    position: absolute;
    left: 20%;
}

.container img{
    width: 250px;
    height: 200px;
}
   


.kotak1{
    background-color: red;
}

.kotak2{
    background-color: yellow;
}

.kotak3{
    background-color: green;
   
}

.kotak4{
    background-color: blue;
}